<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <title>Calculator</title>
</head>
<body ng-app="myApp2">
        <h2>Simple calculator</h2>
        <div ng-controller="Calculate">
        Enter 1st number: <input type="number" id="num1" ng-model="fn"><br><br/>
        Enter 2nd number: <input type="number" id="num2" ng-model="ln"><br><br/>
        Select an arithmatic operation:
        <select id="op" ng-model="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select >
    <input type="button" value="Calculator" ng-click="cal()">
    <h3>The result is:{{sum}}</h3>
    </div>
    
</body>
</html>
<script>
      var v1 = angular.module("myApp2",[]);
    v1.controller("Calculate",function($scope)
{
    $scope.sum=0;
    $scope.cal=function(){
        if(document.getElementById("num1").value=="")
        {
            alert("Enter 1st number");
            document.getElementById("num1").focus();
            return false;
        }
        else if(document.getElementById("num2").value=="")
        {
            alert("Enter 2nd number");
            document.getElementById("num2").focus();
            return false;
        }

        else if(document.getElementById("op").value=="")
        {
            alert("Enter arithemtic operator");
            document.getElementById("op").focus();
            return false;
        }
    {
        if($scope.operator == "+")
        $scope.sum = $scope.fn + $scope.ln

        if($scope.operator == "-")
        $scope.sum=$scope.fn - $scope.ln

        if($scope.operator == "*")
        $scope.sum=$scope.fn * $scope.ln

        if($scope.operator == "/")
        $scope.sum=$scope.fn / $scope.ln

    }
    }
});
</script>